/* Button styling for the "Create Wallet" button */
.create-wallet-button {
    -fx-background-color: #181818;
    -fx-text-fill: #5f5f5f;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

.create-wallet-button:hover {
    -fx-background-color: #232323;
}

.wallet-name-input {
    -fx-background-color: #181818;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #5f5f5f;
    -fx-border-color: #393939;
    -fx-border-width: 1;
    -fx-border-radius: 8;
}

/* General styling for other buttons */
.hover-button {
    -fx-background-color: #00000025;
    -fx-background-radius: 16px;
    -fx-border-width: 0; /* No border by default */
    -fx-border-color: transparent;
    -fx-border-radius: 16px;
    -fx-cursor: hand; /* Hand cursor on hover */
}

/* Hover effect for buttons */
.hover-button:hover {
    -fx-background-color: #00000050;
}

/* General styling for SVG icons */
.icon-style {
    -fx-fill: #eeeeee; /* Default fill color for icons */
    -fx-scale-x: 0.75; /* Adjust scaling to make the SVG fit 30px */
    -fx-scale-y: 0.75; /* Adjust scaling to make the SVG fit 30px */
}

.top-container {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #7F00FF, #E100FF); /* Gradient from purple to light purple */
    -fx-background-radius: 0 0 30px 30px; /* Rounded corners at the bottom */
    -fx-border-radius: 0 0 30px 30px; /* Border follows the rounded background */
    -fx-background-insets: 0; /* Ensure no insets affect the background */
}

.crypto-token-tile {
    -fx-background-color: #191919;
    -fx-border-width: 1px;
    -fx-border-color: #191919;
    -fx-background-radius: 8px; /* Rounded corners at the bottom */
    -fx-border-radius: 8px;
    -fx-cursor: hand;
    -fx-padding: 16px;
}

.crypto-token-tile:hover {
    -fx-border-color: #232323;
}

.crypto-token-name {
    -fx-font-size: 14px;
    -fx-text-fill: #707070;
}

.crypto-token-price {
    -fx-font-size: 18px;
    -fx-text-fill: #c6c6c6;
}

.logo-create {
    -fx-fill: linear-gradient(from 0% 0% to 100% 100%, #7F00FF, #E100FF); /* Default fill color for icons */
    -fx-scale-x: 0.4;
    -fx-scale-y: 0.4;
}

.wallet-list-item {
    -fx-background-color: #222222;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Open Sauce One Regular";
    -fx-background-radius: 8px;
    -fx-padding: 8px;
    -fx-cursor: hand;
    -fx-max-width: Infinity; /* Allow the button to expand */
    /*-fx-pref-width: 100%; !* Dynamically fill width *!*/
}

.delete-wallet-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Open Sauce One Regular";
    -fx-background-radius: 8px;
    -fx-padding: 8px;
    -fx-cursor: hand;
    -fx-max-width: Infinity; /* Allow the button to expand */
}

.wallet-list-item:hover {
    -fx-background-color: #444444;
}

.scroll-pane {
    -fx-background-color: #111111; /* Set the background color */
    -fx-background-insets: 0; /* Prevent padding around background */
}

.scroll-pane .viewport {
    -fx-background-color: #111111; /* Match the viewport to the scroll-pane background */
}

.scroll-pane .scroll-bar {
    -fx-opacity: 0; /* Hide scrollbars */
    -fx-max-width: 0; /* Ensure no space is left for the scrollbars */
    -fx-max-height: 0;
}
